{% extends "website/base.html" %}
{% block content %}
{% load staticfiles %}
<div style="height:80px;"></div>
    <!-- Page Content -->

    <div class="container">
      <h1  style="color:#002053;margin-top:100px;margin-bottom:50px;">My Collection
      <small>Properties</small>
      </h1>
      {% if message != "" %}
        <div class=" alert alert-info" style="padding-top:40px;margin:40px;height:100px;">
          <strong style="font-size:20px;">{{message}}</strong>

        </div>
      {% endif %}
      <div class="row text-center text-lg-left">

        {% for prop in properties %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="{% url 'details' prop.id %}">
                <img class="img-fluid" src="{%  url 'main_picture' prop.id %}" alt="NA" style="position:relative;height:200px;">
                <div style="background-color:#002053;opacity:0.65;position:absolute;left:15px;top:170px;width:90%">
                <p style="color:white; text-align:center;"> {{prop.address.street_number}} {{prop.address.route}}, {{prop.address.locality.city}}, {{prop.address.locality.state}} </p></div>
            </a>
        </div>
        {% endfor %}

      </div>

      <button  class="btn btn-dark" style="padding-right:20px;padding-top:10px;padding-bottom:10px;margin:80px 400px 100px;width:400px;" onclick="window.location.href='{% url 'properties' %}'"><i class="material-icons md-48">business</i> Back to Properties</button>

    </div>
    <!-- /.container -->
{% endblock %}
