{% extends "website/base.html" %}
{% block content %}
{% load staticfiles %}
{% load myfilters %}



<div class="basic" style="margin:100px;">

    <div class="row justify-content-md-center" >
    {% if messages %}

        {% for message in messages %}
          <div class="col-md-9 alert alert-success" >{{ message }}</div>
        {% endfor %}

    {% endif %}
        <div class="col-md-4 col-xs-12 login-blocks">
            <h2>Login : </h2>
            {%if form.errors %}
                <div class="row justify-content-md-center alert alert-danger" style="width:500px;">There is something wrong with the username or the password, please try again.</div>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                <div class="form-group">
                    <label>Username</label>
                    {{ form.username|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    <label>Password</label>
                    {{ form.password|addclass:'form-control' }}
                </div>
                <!--<input type="hidden" name="next" value="{% url 'index' %}" />-->
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="margin: 20px 0px 20px;"> Log in</button>
                </div>


            </form>
            <a href="{% url 'forget' %}"> <button type="submit" class="btn btn-secondary">Forget Password or Username</button></a>
            <br>

            <!--<h2>Social login :  </h2>-->

            <!--<p>-->
            <!--<a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>-->
            <!--<a class="login-social" href="#"><i class="fa fa-google-plus"></i>&nbsp;Gmail</a>-->
            <!--<a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>-->
            <!--</p>-->
        </div>

    </div>
</div>
<script>
    window.onload = function() {
    var cookies = document.cookie.split(";");
    console.log(cookies);

        document.cookie = "expires=Thu, 01 Jan 1970 00:00:00 GMT";
console.log(document.cookie);
}
</script>
{% endblock %}