{% extends "website/base.html" %}
{% block content %}
{% load staticfiles %}
    <div style="height:80px;"></div>
    <!-- Page Content -->
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
                    <div class="blog-asside-right pr0">
                        <div class="panel panel-default sidebar-menu wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="color:white">Advanced search</h4>
                            </div>

                            <div class="panel-body search-widget">
                                <form action="" class=" form-inline">

                                    <div class="container">
                                        <div class="row justify-content-md-center">

                                            <div class="well">

                                              <div class="form-group">
                                                <p for="location1" class="control-label" style="font-size:15px;color: white;">City</p>
                                                <select class="form-control" name="" id="location1">
                                                  <option value="">Any</option>
                                                  <option value="">1</option>
                                                  <option value="">2</option>
                                                </select>
                                              </div>

                                              <div class="form-group">
                                                <p for="type1" class="control-label" style="font-size:15px;color: white;">Type</p>
                                                <select class="form-control" name="" id="type1">
                                                  <option value="">Any</option>
                                                  <option value="">1</option>
                                                  <option value="">2</option>
                                                </select>
                                              </div>

                                              <div class="form-group">
                                                <p for="pricefrom" class="col" style="font-size:15px;color: white;">Min Price</p>
                                                <div class="input-group">
                                                  <input type="text" class="form-control" id="pricefrom" aria-describedby="basic-addon1">
                                                </div>
                                              </div>

                                              <div class="form-group">
                                                <p for="priceto" class="col" style="font-size:15px;color: white;">Max Price</p>
                                                <div class="input-group">
                                                  <input type="text" class="form-control" id="priceto" aria-describedby="basic-addon1">
                                                </div>
                                              </div>

                                            </div>
                                             <div class="form-group" style="margin-top:30px;">
                                                 <input class="btn btn-primary btn-lg" value="Search" type="submit">
                                             </div>

                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>

        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid sticky-top" style="margin-top: 30px; margin-left-30px;">
               <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle"> <i class="material-icons md-36">search</i> <br> Search</a>
            </div>
            <div class="container">

                  <!-- Page Heading -->
                  <h2 class="my-4" style="color:#002053">Properties List
                    <small>On sale</small>
                  </h2>

                  <!-- Property One -->
                  <div class="row">
                    <div class="col-md-7">
                      <a href="{% url 'details' %}">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'pictures/demo1.png' %}" alt="700x300">
                      </a>
                    </div>
                    <div class="col-md-5">
                      <h3>1001 Lincoln St, Chester, PA 19013</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                      <a class="btn btn-primary" href="{% url 'details' %}">View Property</a>
                    </div>
                  </div>
                  <!-- /.row -->

                  <hr>

                  <!-- Property Two -->
                  <div class="row">
                    <div class="col-md-7">
                      <a href="{% url 'details' %}">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'pictures/demo2.png' %}" alt="">
                      </a>
                    </div>
                    <div class="col-md-5">
                      <h3>1611 N Oxford, Tulsa, OK 74106</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                      <a class="btn btn-primary" href="{% url 'details' %}">View Property</a>
                    </div>
                  </div>
                  <!-- /.row -->

                  <hr>

                  <!-- Property Three -->
                  <div class="row">
                    <div class="col-md-7">
                      <a href="{% url 'details' %}">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'pictures/demo3.png' %}" alt="">
                      </a>
                    </div>
                    <div class="col-md-5">
                      <h3>8521 Wolf Den Trl, Port Richey, FL 34668</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
                      <a class="btn btn-primary" href="{% url 'details' %}">View Property</a>
                    </div>
                  </div>
                  <!-- /.row -->

                  <hr>

                  <!-- Property Four -->
                  <div class="row">

                    <div class="col-md-7">
                      <a href="{% url 'details' %}">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'pictures/demo4.png' %}" alt="">
                      </a>
                    </div>
                    <div class="col-md-5">
                      <h3>5129 Abbott Ave, Columbus, GA 31904</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                      <a class="btn btn-primary" href="{% url 'details' %}">View Property</a>
                    </div>
                  </div>
                  <!-- /.row -->

                  <hr>

                  <!-- Pagination -->
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <!-- /.container -->

{% endblock %}