{% extends "website/base.html" %}
{% block content %}
{% load staticfiles %}
<div class="basic">
    <div class="row justify-content-md-center" style="margin:100px;">

        <div class="col-md-4 col-xs-12 register-blocks">
        {% if messages %}
            {% for message in messages %}
              <div class="row justify-content-md-center alert alert-danger" style="width:500px;">{{ message }}</div>
            {% endfor %}

        {% endif %}

            <h2>Please reset your password </h2>
            <h5>Your username is {{username}}</h5>
            <form action="{% url 'commit_reset_credential' username token %}" method="post">
                {% load myfilters %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addclass:'form-control'}}
                    <div class="col-sm-12">
                        <span class="help-inline">
                            {% for error in field.errors %}
                             <div class="alert alert-warning" style="margin-top:0px;">
                            {{ error }}
                             </div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                {% endfor %}
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Enter</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}