{% extends "website/base.html" %}
{% block content %}
{% load staticfiles %}
<div class="basic">

    <div class="row justify-content-md-center" style="margin:100px;">

        <div class="col-md-4 col-xs-12 register-blocks">


            <h2>New account : </h2>
            <form action="{% url 'register' %}" method="post">
                {% load myfilters %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addclass:'form-control'}}
                    <div class="col-sm-12">
                        <span class="help-inline">
                            {% for error in field.errors %}
                             <div class="alert alert-warning" style="margin-top:0px;">
                            {{ error }}
                             </div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                {% endfor %}

                {% for field in form.hidden_fields %}
                    {{field}} {{field.errors}}
                {% endfor %}
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Register</button>
                </div>
            </form>
        </div>
    </div>

<div id="map" style="height:300px;width:300px;margin-left: auto;margin-right: auto;margin-bottom: 150px;"></div>
 <!-- Replace the value of the key parameter with your own API key. -->
</div>

<script>
function initMap() {
      document.getElementById("id_latitude").value = 0.0;
      document.getElementById("id_longitude").value = 0.0;
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  var infoWindow = new google.maps.InfoWindow({map: map});
  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      document.getElementById("id_latitude").value = position.coords.latitude+(Math.random()*0.001);
      document.getElementById("id_longitude").value = position.coords.longitude;
      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}
function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'My location is a secret!' :
                        'Error: Your browser doesn\'t support geolocation.');
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB88fUu1WLLF6a9oqINim6vqkpVg64iXAQ&callback=initMap">
</script>
{% endblock %}