#logo{
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
}

.front{
    height: auto;
    width: 850px;
    object-fit: contain;
}

.form-group{
    margin-top:20px;
}

.detail_pic{
    color: white;
    font-size: 20px;
}